<form #adminLoginForm="ngForm" (ngSubmit)="loginAdmin()">
    <div class="headLine">Admin</div>
 <input type="email"
         class="input-text"
         name="email"
         required
         [(ngModel)]="email"
         #emailField="ngModel"
         [ngClass]="emailField.touched && emailField.invalid ? 'invalid-message' : ''"
         placeholder="email">

    <div class="invalid-message" *ngIf="emailField.touched && emailField.invalid">
        You must enter a valid adminstrator email
    </div>

  <input type="password"
         class="input-text"
         name="password"
         required
         [(ngModel)]="password"
         #passwordField="ngModel"
         [ngClass]="passwordField.touched && passwordField.invalid ? 'invalid-message' : ''"
         placeholder="password">

    <div class="invalid-message" *ngIf="passwordField.touched && passwordField.invalid">
        You must enter a password
    </div>
    <div class="nav-container">
        <button type="submit" class="button-submit" [disabled]="adminLoginForm.invalid">
            Login
        </button>
    </div>

</form>