 <div class="admin-dashboard">
    <h1>Admin Dashboard</h1>

    <div class="main-layout-container"> 
        
        <div class="navigation-panel">
            <div class="dashboard-card" routerLink="./admin-info" routerLinkActive="active-card">
                <h2>Admin Info</h2>
                <p>Edit admin profile</p>
            </div>

            <div class="dashboard-card" routerLink="./user-discount" routerLinkActive="active-card">
                <h2>User Discounts</h2>
                <p>Set discounts for users</p>
            </div>

            <div class="dashboard-card" routerLink="./books-manager" routerLinkActive="active-card">
                <h2>Manage Books</h2>
                <p>Add/Edit/Delete books</p>
            </div>
        </div>

        <div class="content-view">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>