<div class="books-container">
    <h1>Book Store</h1>

    <app-search-page (searchChanged)="onSearchChanged($event)"></app-search-page>

    <div *ngIf="cartMessage" class="cart-notification">
        {{ cartMessage }}
    </div>

    <div class="books-grid">
        <div *ngIf="paginatedBooks.length === 0">
        </div>

        <div *ngFor="let book of paginatedBooks" class="book-card">
            <a [routerLink]="['/book', book.id]">
                <img [src]="book.imageUrl" alt="{{book.title}}">
                <h2>{{book.title}}</h2>
                <p>{{book.author}}</p>
                
                <div class="price-container">
                    <div *ngIf="book.discountPercentage && book.discountPercentage > 0" class="price-box-flex">
                        <span class="old-price-line">
                            {{ book.price }} ₪
                        </span>
                        <span class="new-price-red">
                            {{ calculatePrice(book.price, book.discountPercentage) }} ₪
                        </span>
                    </div>

                    <div *ngIf="!book.discountPercentage || book.discountPercentage <= 0">
                        <span class="regular-price-black">{{ book.price }} ₪</span>
                    </div>
                </div>
            </a>
            <button (click)="addBookToCart(book)">Add To Cart</button>
        </div>
    </div>

    <div class="pagination-controls" *ngIf="totalPages > 1">
        <button [disabled]="currentPage === 1" (click)="changePage(-1)">Previous</button>
        <span class="page-info">Page {{currentPage}} of {{totalPages}}</span>
        <button [disabled]="currentPage === totalPages" (click)="changePage(1)">Next</button>
    </div>
</div>