<header class="header">
    <div class="header_Nav">

        <div class="header_Nav_Home">
            <a routerLink="home" class="header_Nav_Home">Book Store</a>
        </div>

        <div class="header_Nav_Auth">
            <a routerLink="/cart" class="btn" routerLinkActive="active-link">Cart</a>

            <ng-container *ngIf="isAuthenticated">
                <a *ngIf="isAdmin" class="btn" routerLink="/admin/dashboard" routerLinkActive="active-link">Admin
                    Dashboard</a>
                <a routerLink="/account" class="btn" routerLinkActive="active-link">Account</a>
                <a (click)="onLogout()" class="btn logout" style="cursor: pointer;">LogOut</a>
            </ng-container>

            <ng-container *ngIf="!isAuthenticated">
                <a routerLink="/user" class="btn" routerLinkActive="active-link">Login</a>
                <a routerLink="/admin/login" class="btn accent" routerLinkActive="active-link">
                    Admin Login
                </a>
            </ng-container>
        </div>

    </div>
</header>